<div class='row'>
<div class='span5 offset2'>
<h3><%= t(:delete_page_header)%></h3>
<%= t(:delete_page_text)%>
</div>
</div>

<div class='row' style='padding-top:20px'>
	<p><br><p>
	<div class='span4 offset2'>
		<%= link_to image_tag("back.png"), :back, :class => 'opcy'  %>
	</div>
	<div class='span2'>
		<%= link_to image_tag("delete_button.png"), user_path(current_user), :method => :delete, :confirm => t(:confirm_acc_deletion), :class => 'opcy' %>
	</div>



</div>
