<span class='header_big'>1.</span><span class='header'> Make a list of what you want to have</span>
<span class='header_big'>2.</span><span class='header'> Let others know what you like</span>
<span class='header_big'>3.</span><span class='header'> Make a gift from friend's list</span>
<%= image_tag "welcome.png", :class => 'welcome_img' %>
