<div>
  <div id='banners'>
    <p id='nike'><%= image_tag '/assets/maket/nike.png' %></p>
    <a href="#"><p id='apple'></p></a>
    <p id='volkswagen'><%= image_tag '/assets/maket/volkswagen.png' %></p>
  </div>
  <div id='welcome_content'>
123
  </div>
  <div id='friends'>
    <% @friends.each do |friend| %>
      <a href="#" id='<%= friend.id %>'><p><%= friend.name %></p></a>
    <% end %>
  </div>
</div>
<div style='clear:both'></div>
