<div>
  <div id='banners'>
    <p id='nike'><%= image_tag '/assets/maket/nike.png' %></p>
    <a href="#"><p id='apple'></p></a>
    <p id='volkswagen'><%= image_tag '/assets/maket/volkswagen.png' %></p>
  </div>
  <div id='welcome_content'>
    <%= link_to 'Sign with social', authentications_path %>
  </div>
</div>
<div style='clear:both'></div>
