/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require authentications
 *= require list_items
 *= require pages
 *= require scaffolds
 *= require static_pages
 *= require profiles
 */

.yellowbg {
  background-color: #FFFFCC;
}

body {
  background-color: #FFFFCC;
  height: 100%;
  width: 100%;
  font-family: Arial, serif;
}

ul {
list-style: none;
padding: 0;
margin: 0;
}

.tellusmore{
  height: 150px;
}

#header{

}

 a.app_link{
      color: #0088ee !important;
       text-decoration: underline !important;
      &:hover {
         color: #0088ee !important;
        text-decoration: underline !important;
       }
     }


.app_page_header{
 line-height:110%;

  text-align: center;

}

#setting_language{
  margin-top: -20px;
  width: 300px;
}
#select_language{
  padding-top:7px;

  margin-top: 7px;
  display:inline-block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}


#avatar {
  float: right;
}
#avatar img {
  max-width: 50px;
  max-height: 50px;
}
#ddmenu {
  float: right;
  padding: 0;
  margin: 15px 10px;
}
#logo {
  max-width: 200px;
  float: left;
}
.clear {
  clear: both;
}
hr {
  border: 1px double #C3C3C3;
  height: 5px;
  border-left: none;
  border-right: none;
}
#footer {
  color: #999999;
}
#user {
  padding: 5px;
  border-radius: 8px;
  margin: 0;
}
#user:hover {
  background-color: #EFEFB7;
}
span#hr hr {
  border: 1px solid #C3C3C3;
  height: 1px;
}
#ddmenu #btn {
  padding: 1px 3px;
  background-color: #FFFFCC;
  border-radius: 25px;
}
#ddmenu {
  list-style: none;
}
#ddmenu li {
  float: left;
  padding: 0 0 10px 0;
  position: relative;
}
#ddmenu li:hover > a {
  color: black;
}
#ddmenu li:hover > ul {
  display: block;
}
#ddmenu ul {
  width: 140px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 28px;
  left: 0;
  z-index: 99999;
  background: #FFFFFF;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#ddmenu a:visited {
  color: black;
}
#ddmenu a {
  text-decoration: none;
}
#ddmenu ul li {
  float: none;
  margin: 0;
  padding: 0;
  display: block;
}

#ddmenu ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#ddmenu ul a {
  padding: 10px;
  height: auto;
  line-height: 1;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
  text-decoration: none;
}
#ddmenu hr {
  margin: 0px auto;
  width: 94%;

}
#ddmenu ul a:hover {
  background: #DFDFA2;
}

#ddmenu ul li:first-child a {
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

li#first a:after {
  content: '';
  position: absolute;
  left: 30px;
  top: -6px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #FFFFFF;
}

#ddmenu ul li:last-child a {
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#ddmenu:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.container.yellowbg {
  margin: 10px auto;
}
