// Place all the styles related to the list_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#friends {
margin-top: 2px;

/*overflow-y: scroll;*/

}

#friends p {
padding: 10px;
margin: 0;
border-radius: 10px;
font: 120% bold sans-serif;
}
#friends p:hover {
background-color: #EFEFB7;
}



.friend_item  a  {
	color: #999999 !important;
	word-wrap: break-word;
}

.friend_item {
  color: #CCCCCC;
  font: italic 80% sans-serif;
}

#content {


}


.banner{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  opacity: 0.3;
}
.banner_active{
	cursor: pointer;
}


.hr {
  border-top: 2px dotted #999999;
  color: #999999;
  background-color: #999999;
  opacity:0.3;
  height: 1px;
  width:100%;
  background: transparent;
  margin-bottom: 3px;

}



.list_item_active {
border: 0px solid #000000;
background-color: #FFFFFF;
margin-bottom: 6px;
padding:15px 15px 15px 15px;
color: #999999;


#list_item_title{
font-size: 19px;
width:100% !important;
}

#list_item_name{
font-size: 13px;

color: #999999;
}

#list_item_des{
font-size: 14px;
margin-top: 0px;

}

#list_item_images{
font-size: 14px;
margin-top: 0px;
margin-bottom: 0px;

}

#buttons{

margin-right:-13px

}

}


.list_item {
border: 0px solid #000000;
background-color: transparent;
margin-bottom: -10px;
padding:10px 15px 0px 15px;

.image_block_container{
  margin-top: 10px;
}



#list_item_title{
font-size: 19px;
 white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;

}
#list_item_date{
font-size: 13px;
display: none;
color: #999999;
}

#list_item_name{
font-size: 13px;
display: none;
color: #999999;
}
.list_item_des_container{
display: none;
}
#list_item_des{
display: none;
font-size: 14px;
margin-top: 0px;

}
#list_item_url{
  display: none;
}

#list_item_images{
display: none;
font-size: 14px;
margin-top: 0px;
margin-bottom: 0px;

}

#buttons{
display: none;
margin-right:-13px

}

}


.edit_box{
	resize: none;
}
.edit_box_hover{
	resize: none;
	overflow-y:scroll;
}

.list_item_hover {
border: 0px solid #000000;
background-color: #EFEFB7;
margin-bottom: 3px;
padding:10px 15px;

#list_item_url{
  display: none;
}

#list_item_title{
font-size: 19px;
 white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

#list_item_date{
font-size: 13px;
color: #999999;
position:absolute;
margin-left: -60px;
margin-top: 7px;
}

#list_item_name{
font-size: 13px;
color: #999999;
position:absolute;
}
.list_item_des_container{
display: none;
}
#list_item_des{
display: none;
font-size: 14px;
margin-top: 0px;

}

#list_item_images{
display: none;
font-size: 14px;
margin-top: 0px;
margin-bottom: 0px;

}

#buttons{
margin-right:-13px

}

}



.list_item_edit {
border: 1px solid #000000;
background-color: #FFFFFF;
margin-bottom: 6px;
padding:15px 15px 1px 15px;



#list_item_title{
font-size: 19px;
width:100%;
height: 20px;
white-space: pre-line;
border: 0px solid #0;
border: none;
border-color: transparent;
outline: 0;
}



#list_item_name{
font-size: 13px;

color: #999999;
}

#list_item_des{
font-size: 14px;
margin-top: 10px;
margin-bottom: 12px;
width: 100%;
height: 100px;
border: 0px solid #0;
border: none;
border-color: transparent;
outline: 0;


}
#list_item_des:focus{
outline: 0;
}
#list_item_images{
font-size: 14px;
padding-top: 20px;
margin-bottom: -5px;

}

#buttons{

margin-right:-13px

}

}

.noFocus, .noFocus:focus {
outline:0px !important;

outline: none  !important;
-webkit-appearance:none;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
outline: none;
  border:none !important;
  box-shadow:none !important;
}


.transparent_bg{
background-color: #FFFFCC  !important;
}

.bordered{
  border: 1px solid #999999;
  height:30px;
}

.new_item_text{
	width: 100%;
	padding: 3px
}

.new_item{
margin-right:0px !important;
float:left;
  z-index:1;
}

.send_email{

}

.new_li_submit{
  float:right;
  padding: 4px 0px 0px 0px !important;
  margin-left:0px !important;
  width:20px;

  position:absolute;
  z-index:0;
}

#add_photo {
	cursor:pointer;

}

.image_iframe{
	width:100%;
	height:100px;
	border: 0px solid;

}

.image_frame_body{
	height:55px;
}

.image_div{
	height:60px;
	width:60px;
	display:inline-block;

	overflow: hidden;
}

.delete_div{
	cursor: pointer;
	background-color:rgba(0,0,0,0.7);
	position: relative;
	float:right;
    top: -15px;
	color: white;
	width: 60px;
	z-index: 1000;

}

.image_edit_div{
height:60px;
width:60px;
display:inline-block;
display:table-cell;
   vertical-align:middle;
}

.image_edit{
	z-index: 1;
  width:60px;
  height:60px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 display:block;

}
.del_img{
	margin-left:-3px;
}
.toggler{
	cursor: pointer;
}

a:link {
color: black;
text-decoration: none !important;
}      /* unvisited link */

a:visited {
color: black;
text-decoration: none !important;
}  /* visited link */

a:hover {
color: black;
text-decoration: none !important;
}  /* mouse over link */

a:active {
color: black;
   text-decoration: none !important;
}  /* selected link */

.galery_div{
	position: fixed;
	  display: table;
  	width:100%;
	top:0px;
	left:0px;
	height:100%;
	background-color:rgba(0,0,0,0.7);
}

.galery_image_div{
  display: table-cell;

  text-align: center;
  vertical-align: middle;
}

.galery_image{
 background-color: white;

	min-width: 200px;
	min-height: 200px;
	padding: 15px 15px 15px 15px;

}


.list_item_edit #list_item_name {
  margin-left: 7px;
}

.list_item_active #list_item_title {
  width: 600px;
}

.list_item_active {
  word-wrap:break-word;
}
div.ui-state-default.draggable:first-child .hr {
  display: none;
}
.list_item {
  height: 136px;
}
.list_item_hover {
  height: 113px;
}
#list_item_title {
white-space: pre-line;
  line-height: 20px;
  letter-spacing: 1px;
}
