// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.welcome_img {
  width: 800px;
  height: auto;
}

.header{
  font-size:14px
}

.header_big{
  margin-left:19px;
  font-size:18px;
}