<!DOCTYPE html>
<html>
<head>
  <title>Watet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style='background-color: white !important;height:60px;width:auto'>
      <%= yield %>
</body>
</html>
  